body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
}

.menu {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 15px 25px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 20px;
    transition: 0.2s;
}

.btn:hover {
    background: #0056d6;
}