body {
    background: #f0f0f0;
    text-align: center;
    font-family: Arial;
}

#board {
    width: 300px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    border: 2px solid #000;
    font-size: 60px;
    line-height: 100px;
    cursor: pointer;
}